header {
    background-color: blue;
    color: white;
    font-size: 24px;
    margin: 0px 0px 20px 0px;
}

body>p {
    text-align: center;
    font-size: 16px;
    color: darkgrey;
}

footer {
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 10px;
}

aside {
    background-color: lightgray;
    width: 200px;
    margin: left 0px;
    border-right: darkgray;
}