.layoutF {
    background-color: lightblue;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    grid-template-areas:
        "header header header header header header"
        "nav nav nav nav nav nav"
        "aside aside main main main main"
        "aside aside texto texto texto texto"
        "aside aside texto texto texto texto"
        "aside aside texto texto texto texto"
        "footer footer footer footer footer footer";
}

.layoutF :nth-child(1) {
    background-color: burlywood;
    grid-area: header;
    text-align: center;
}

.layoutF :nth-child(2) {
    background-color: red;
    grid-area: nav;
    text-align: center;
}


.layoutF :nth-child(3) {
    background-color: lightblue;
    grid-area: main;
}

.layoutF :nth-child(4) {
    background-color: purple;
    grid-area: aside;
}

.layoutF :nth-child(5) {
    background-color: grey;
    grid-area: texto;
}

.layoutF :nth-child(6) {
    background-color: orangered;
    grid-area: footer;
}














.nav {
    grid-template-columns: inherit;
    grid-template-rows: 1;
    background-color: red;
    display: grid;
    gap: 5px;
    grid-template-areas: ". uno dos tres cuatro .";


}

.nav :nth-child(1) {
    grid-area: uno;
    background-color: yellow;
    align-self: center;
    border-radius: 2px;
    height: 55%;





}

.nav :nth-child(2) {
    grid-area: dos;
    background-color: yellow;
    align-self: center;
    border-radius: 2px;
    height: 55%;


}

.nav :nth-child(3) {
    grid-area: tres;
    background-color: yellow;
    align-self: center;
    border-radius: 2px;
    height: 55%;



}

.nav :nth-child(4) {
    grid-area: cuatro;
    background-color: yellow;
    align-self: center;
    border-radius: 2px;
    height: 55%;


}











.aside {
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: 1;
    gap: 3px;
    height: 100%;
}















.main {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    display: grid;
    height: 224px;
    grid-template-areas:
        "img-1 img-2 img-3 img-4"


}

.main :nth-child(1) {

    background-image: url("piramide.jpg");
    grid-area: img-1;
    border-radius: 10px;
    background-position: center;
    margin: 20px 10px 20px 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background: cover;
}

.main :nth-child(2) {
    background-image: url("mexico.jpg");
    border-radius: 10px;
    grid-area: img-2;
    margin: 20px 10px 20px 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main :nth-child(3) {
    background-image: url("roma.jpeg");
    border-radius: 10px;
    grid-area: img-3;
    background-position: center;
    margin: 20px 10px 20px 10px;
    background-size: cover;
    background-repeat: no-repeat;
}

.main :nth-child(4) {
    background-image: url("tajmajal.jpeg");
    border-radius: 10px;
    grid-area: img-4;
    background-position: center;
    margin: 20px 10px 20px 10px;
    background-size: cover;
    background-repeat: no-repeat;

}




.footer {


    display: grid;
    gap: 3px;
    text-align: center;

}



@media screen and (max-width: 576px) {
    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: (9, 1fr);
        grid-template-areas:
            "header "
            "nav"
            "img-1"
            "img-1"
            "img-1"
            "img-1"
            "img-1"
            "img-1"
            "img-1";
    }
}

@media screen and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: (2, 150px);
        grid-template-areas:
            "header header header"
            "rojo azul verde";
    }
}

@media screen and (min-width: 992px) {
    .container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
            "header header header header header header"
            "nav nav nav nav nav nav"
            "aside aside main main main main"
            "aside aside texto texto texto texto"
            "aside aside texto texto texto texto"
            "aside aside texto texto texto texto"
            "footer footer footer footer footer footer";
    }
}

/* @media screen and (orientation: landscape) {
    header {
        background-color: orange;
        color: green;
    }
} */