color {
    color: grey;
    font-size: 20px;
}

resultado1 {
    color: #C8A2C8;
}

resultado2 {
    color: orange;
}

resultado3 {
    color: turquoise;
}

resultado4 {
    color: green;
}

resultado5 {
    color: brown;
}